@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
  background-color: #f0f0f0;

}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid #333;
  border-radius: 9px;
  cursor: pointer;
  background-color: #2196F3;
  color: #fff;
  transition: background-color 0.2s ease;

}

.button:hover{
  background-color: #1976D2;

}

.button:active{
  background-color: #1565C0;

}

.row{
  margin: 8px 0;
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.row input{
  width: 291px;
  font-size: 20px;
  margin: 0;
  padding: 10px 0px;
  border: 2px solid #ccc;
  border-radius: 5px;

}

.row input:focus{
  border-color: #2196F3;
  box-shadow: 0 0 10px rgba(33, 150, 243, 0.5);

}

body {
    margin: 0; 
    background-image: url('T32.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; 
}

.text-center {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 20px;
  }